@font-face {
    font-family:roboto ;
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
}
body{
    margin: 0;
    padding: 0;
    font-family: roboto;
    src :url(./fonts/Roboto/Roboto-Medium.ttf);
}
.navbar{
    border: 1px solid red;
    height:15vh;
    /* background-color:rgb(253, 237, 222); */
    /* text-align: center; */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color:gray;
    background-image: url(./assets/navbar\ image.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    background-color: white;
    /* background-color:rgba(255, 255, 255, 0.9); */
}
.navbar img{
    width: 100px;
    height: 100px;
}
#cityname{
    margin-left: 40px;
}
.main{
    display: flex;
}
.left{
    border: 1px solid red;
    width: 30vh;
    height: 85vh;
    /* display: block; */
    position: fixed;
    top: 152px;
    background-color: rgb(250, 248, 244);
}
.list-item1{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item1:hover{
    color: black;
    background-color: rgb(211, 212, 216);
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
}
.list-item2{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item2:hover{
    color: black;
    background-color: rgb(211, 212, 216);
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
}
.list-item3{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item3:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
    background-color: rgb(211, 212, 216);

}
.list-item4{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item4:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
    background-color: rgb(211, 212, 216);

}
.list-item5{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item5:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
    background-color: rgb(211, 212, 216);

}
.list-item6{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item6:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
    background-color: rgb(211, 212, 216);

}
.list-item7{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item7:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
    background-color: rgb(211, 212, 216);

}
.list-item8{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item8:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
    background-color: rgb(211, 212, 216);

}
.list-item9{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item9:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
    background-color: rgb(211, 212, 216);

}
.list-item10{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item10:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
    background-color: rgb(211, 212, 216);

}
.list-item11{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item11:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
    background-color: rgb(211, 212, 216);

}
.list-item12{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item12:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
    background-color: rgb(211, 212, 216);

}
.right{
    border: 1px solid red;
    margin: 20px auto;
    width: 70%;
    margin-left: 300px;
    /* height: 80vh; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 120px;
}
.bgimage{
    border: 1px solid red;
    height: 250px;
    color: white;
    /* position: relative; */
    /* top: 30px; */
    vertical-align: end;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: baseline;
    /* justify-content:end; */
    line-height: 400px;
    font-size: 60px;
    /* margin-left: 40px; */
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSX4vrNEzUtQgcqv2ql34BNkqGZ1-b4tSnQNid4RbLii6N3lLFfr6ASxY6XQWszTg07HkMySNoEcjrvj1kMwnMEqw);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    filter:saturate(120%);
}
.img1{
    border: 1px solid lightgray;
    height: 300px;
    border-radius: 6px;
    width: 300px;
    margin: 10px;

}
.img1:hover{
 /* transition: all 0.1s ease-out; */
 /* width: 240px; */
 /* height: 240px; */
 box-shadow: 3px 3px 3px lightgray;
 cursor: pointer;
}
.img2{
    border: 1px solid lightgray;
    height: 300px;
    border-radius: 6px;
    width: 300px;
    margin: 10px;

  
}
.img2:hover{
    /* transition: all 0.1s ease-out; */
    /* width: 240px; */
    /* height: 240px; */
    box-shadow: 3px 3px 3px lightgray;
    cursor: pointer;
   }
.img3{
    border: 1px solid lightgray;
    height: 300px;
    border-radius: 6px;
    width: 300px;
    margin: 10px;

}
.img3:hover{
    /* transition: all 0.1s ease-out; */
    /* width: 240px; */
    /* height: 240px; */
    box-shadow: 3px 3px 3px lightgray;
    cursor: pointer;
   }
.img4{
    border: 1px solid lightgray;
    height: 300px;
    border-radius: 6px;
    width: 300px;
    margin: 10px;

}
.img4:hover{
    /* transition: all 0.1s ease-out; */
    /* width: 240px; */
    /* height: 240px; */
    box-shadow: 3px 3px 3px lightgray;
    cursor: pointer;
   }
.img5{
    border: 1px solid lightgray;
    height: 300px;
    border-radius: 6px;
    width: 300px;
    margin: 10px;

}
.img5:hover{
    /* transition: all 0.1s ease-out; */
    /* width: 240px; */
    /* height: 240px; */
    box-shadow: 3px 3px 3px lightgray;
    cursor: pointer;
   }
.img6{
    border: 1px solid lightgray;
    height: 300px;
    border-radius: 6px;
    width: 300px;
    margin: 10px;

}
.img6:hover{
    /* transition: all 0.1s ease-out; */
    /* width: 240px; */
    /* height: 240px; */
    box-shadow: 3px 3px 3px lightgray;
    cursor: pointer;
   }
.img7{
    border: 1px solid lightgray;
    height: 300px;
    border-radius: 6px;
    width: 300px;
    margin: 10px;

}
.img7:hover{
    /* transition: all 0.1s ease-out; */
    /* width: 240px; */
    /* height: 240px; */
    box-shadow: 3px 3px 3px lightgray;
    cursor: pointer;
   }
.img8{
    border: 1px solid lightgray;
    height: 300px;
    border-radius: 6px;
    width: 300px;
    margin: 10px;

}
.img8:hover{
    /* transition: all 0.1s ease-out; */
    /* width: 240px; */
    /* height: 240px; */
    box-shadow: 3px 3px 3px lightgray;
    cursor: pointer;
   }
.img9{
    border: 1px solid lightgray;
    height: 300px;
    border-radius: 6px;
    width: 300px;
    margin: 10px;

}
.img9:hover{
    /* transition: all 0.1s ease-out; */
    /* width: 240px; */
    /* height: 240px; */
    box-shadow: 3px 3px 3px lightgray;
    cursor: pointer;
   }
.img10{
    border: 1px solid lightgray;
    height: 300px;
    border-radius: 6px;
    width: 300px;
    margin: 10px;

}
.img10:hover{
    /* transition: all 0.1s ease-out; */
    /* width: 240px; */
    /* height: 240px; */
    box-shadow: 3px 3px 3px lightgray;
    cursor: pointer;
   }
