@font-face {
    font-family:roboto ;
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
}
body{
    margin: 0;
    padding: 0;
    font-family: roboto;
    src :url(./fonts/Roboto/Roboto-Medium.ttf);
}
.navbar{
    border: 1px solid red;
    height:20vh;
    background-color:rgb(253, 237, 222);
    /* text-align: center; */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color:gray;
    background-image: url(./assets/navbar\ image.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px;
}
.navbar img{
    width: 100px;
    height: 100px;
}
#cityname{
    margin-left: 20px;
}
.main{
    display: flex;
}
.left{
    border: 1px solid red;
    width: 30vh;
    height: 85vh;
    /* display: block; */
    position: fixed;
    top: 152px;
}
.list-item1{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item1:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
}
.list-item2{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item2:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
}
.list-item3{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item3:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
}
.list-item4{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item4:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
}
.list-item5{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item5:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
}
.list-item6{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item6:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
}
.list-item7{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item7:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
}
.list-item8{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item8:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
}
.list-item9{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item9:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
}
.list-item10{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item10:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
}
.list-item11{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item11:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
}
.list-item12{
    border: 1px solid lightgrey;
    margin: 2px;
    padding: 4px;
    font-size: 25px;
    letter-spacing: 4px;
    color:gray;
    border-radius: 4px;

}
.list-item12:hover{
    color: black;
    /* margin-left: 20px; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 20px; */
    width: 100%;
    margin-left: 20px;
}
.right{
    border: 1px solid red;
    margin: 20px auto;
    width: 70%;
    /* height: 80vh; */
}
.bgimage{
    border: 1px solid red;
    height: 200px;
    color: white;
    /* position: relative; */
    /* top: 30px; */
    vertical-align: end;
    width: 90%;
    text-align: left;
    font-size: 50px;
    background-image: url(./assets/e.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-size: 200px; */
}